@{
    ViewBag.Title = "Email onayı";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Mailinizi onayladığınız için teşekkürler. Lütfen @Html.ActionLink("buradan giriş yapın", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
