@model IEnumerable<ToDoApp303.Models.Todoitem>
@{
    Layout = null;
}

<div>
    <h2>Yapılacaklar Listesi</h2>
    @{ 
        var todoitems = Model;
        var sure = DateTime.Now.Day + DateTime.Now.ToString() + DateTime.Now.Year.ToString();
        Response.AddHeader("content_Disposition", $"attachment,filename=yapilacaklar{sure}.xls");
        Response.ContentType = "application/octet-stream";
        var firstLine = todoitems.FirstOrDefault();
    }
    @if (firstLine != null)
    {
        <table style="border:1px,solid,black;">
            <tr style="font-weight:bold">
                @foreach(var property in firstLine.GetType().GetProperties())
                {
                    if (!property.GetType().GetInterfaces().Any(x => x.IsGenericType))
                    {
                        <td style="border:1px solid #a59f9f;">
                            @{ 
                                var dn = (System.ComponentModel.DisplayNameAttribute)property.GetCustomAttributes(typeof(System.ComponentModel.DisplayNameAttribute), true).SingleOrDefault();
                                var displayName = (dn != null ? dn.DisplayName : property.Name);
                            }
                            @displayName
                        </td>
                    }
                }
            </tr>
            @foreach(var todoitem in todoitems)
            {
                <tr>
                    @foreach(var TodoitemProperty in todoitem.GetType().GetProperties())
                    {
                        if (!TodoitemProperty.GetType().GetInterfaces().Any(x => x.IsGenericType))
                        {
                            <td style="border:1px solid black;">
                                @TodoitemProperty.GetValue(todoitem,null)
                            </td>
                        }
                    }
                </tr>
            }
        </table>
    }
</div>
